<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>982619270313-k2uirakdr1nni42hk87kticpt98gv26v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982619270313-k2uirakdr1nni42hk87kticpt98gv26v</string>
	<key>API_KEY</key>
	<string>AIzaSyDx3hunHy73wpZAgK6TAfrnG9a4JxK-3L0</string>
	<key>GCM_SENDER_ID</key>
	<string>982619270313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.stARM</string>
	<key>PROJECT_ID</key>
	<string>armfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>armfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982619270313:ios:6fde430ec07b5b33</string>
	<key>DATABASE_URL</key>
	<string>https://armfirebase.firebaseio.com</string>
</dict>
</plist>